body {
  text-align: center;
}
.title-section h1{
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  text-align: center;
}

/* .triangle{
  width: 200px;
  height: 200px;
  padding: 10px;
  border: solid grey 1px;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
} */

.triangle p {
  padding: 0;
  margin: 0;
  width: 250px;
  font-size: 0.85rem;
  font-family: 'Courier New', Courier, monospace;
}

.title-section p {
  text-align: center;
}

img {
	width: 150px;
	height: 150px;
}

code {
  font-size: 0.85rem;
  border-radius: 6px;
  background-color: #f5f5f5;
  border: 1px solid #C7CDD1;
  padding: 0.25rem 0.25rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  color: red;
}

.special {
  margin: 40px auto;
  text-align: center;
}

.special p {
  padding: 0;
  margin: 0;
  width: 350px;
  font-size: 0.85rem;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  margin: 40px auto 80px auto;
}

.forms {
  width: 50%;
}